body {    
    margin: 0px;
}

main {
    display: flex;
    flex-direction: row;
    padding: 40px;
}

aside {
    width: 100%;
    margin-left: 10px;
}


#world-map {
    height: 500px;
}

.panel {
    background-color: whitesmoke;
    padding: 10px;
    border: solid 1px;
    border-radius: 10px;
}

.stat-name{
    text-align: right;
    font-weight: bold;
}

.country {
    stroke: white;
}

.country:hover {
    cursor: pointer;
    stroke: yellow;
}

.flex-col {
    display: flex;
    flex-direction: column;
}